html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  letter-spacing: 1em;
  position: relative;
  font-family: 'Varela', sans-serif;
}

.home {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.App{
  text-align: center;
}

.canvas {
  width: 100%;
  height: 100vh;
}

.header {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
}

.navItem {
  position: absolute;
  cursor: pointer;
  font-size: 2.5vw;
  font-weight: 800;
}

@media(max-width:600px){
  .name {
    flex-direction: column;
  }
  .first-name{
    height: 3.5vh;
  }
}

.navItemAbout {
  left: 0;
  top: -50px;
  margin: 0;
  display: flex;
  width: 99vh;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: left bottom 0;
  vertical-align: top;
}

.charAbout{
  transition: width 0.3s ease-in;
  width: 5vh;
}

.navItemAbout:hover .charAbout{
  transition: width 0.3s ease-out;
  width: 16vh;
}

.charContact{
  transition: width 0.3s ease-in;
  width: 5vh;
}

.navItemContact:hover .charContact{
  transition: width 0.3s ease-out;
  width: 12vh;
}

.charProj{
  transition: width 0.3s ease-in;
  width: 3vw;
}

.navItemProjects:hover .charProj{
  transition: width 0.3s ease-out;
  width: 9vw;
}

.navItemContact {
  right: 0;
  top: 0;
  margin: 0;
  display: flex;
  width: 99vh;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: right top 0;
  vertical-align: top;
  margin-right: 3vw;
}

.navItemProjects {
  bottom: 2px;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.name {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: black;
  font-family: 'Varela', sans-serif;
  left: 0;
  top: 46%;
  width: 100%;
  margin: auto;
  margin-top: -100px;
  line-height: 200px;
}

@keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 19px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 9px, 0);
  }
  10% {
    clip: rect(4px, 9999px, 66px, 0);
  }
  15% {
    clip: rect(97px, 9999px, 82px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(44px, 9999px, 99px, 0);
  }
  30% {
    clip: rect(29px, 9999px, 1px, 0);
  }
  35% {
    clip: rect(4px, 9999px, 51px, 0);
  }
  40% {
    clip: rect(65px, 9999px, 97px, 0);
  }
  45% {
    clip: rect(1px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(100px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(82px, 9999px, 72px, 0);
  }
  65% {
    clip: rect(95px, 9999px, 34px, 0);
  }
  70% {
    clip: rect(51px, 9999px, 78px, 0);
  }
  75% {
    clip: rect(71px, 9999px, 89px, 0);
  }
  80% {
    clip: rect(19px, 9999px, 62px, 0);
  }
  85% {
    clip: rect(47px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(35px, 9999px, 18px, 0);
  }
  95% {
    clip: rect(63px, 9999px, 73px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 47px, 0);
  }
}
.name:after {
  content: attr(data-text);
  position: absolute;
  left: 3px;
  right: 0;
  text-shadow: -1px 0 red;
  color: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(1px, 9999px, 42px, 0);
  }
  5% {
    clip: rect(89px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(64px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(12px, 9999px, 12px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 87px, 0);
  }
  25% {
    clip: rect(58px, 9999px, 32px, 0);
  }
  30% {
    clip: rect(76px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(61px, 9999px, 61px, 0);
  }
  40% {
    clip: rect(71px, 9999px, 9px, 0);
  }
  45% {
    clip: rect(87px, 9999px, 45px, 0);
  }
  50% {
    clip: rect(56px, 9999px, 71px, 0);
  }
  55% {
    clip: rect(63px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(92px, 9999px, 87px, 0);
  }
  65% {
    clip: rect(4px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(55px, 9999px, 20px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(97px, 9999px, 62px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 90px, 0);
  }
  90% {
    clip: rect(95px, 9999px, 24px, 0);
  }
  95% {
    clip: rect(88px, 9999px, 19px, 0);
  }
  100% {
    clip: rect(35px, 9999px, 75px, 0);
  }
}
.name:before {
  content: attr(data-text);
  position: absolute;
  left: -3px;
  right: 0;
  text-shadow: 1px 0 blue;
  color: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 4s infinite linear alternate-reverse;
}

.slot-machine {
  height: 0;
  width: 5px;
  position: absolute;
  background-color: #3c3c3e;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 52%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  -webkit-transition: width 1s, padding 1s, height 0.5s;
  transition: width 1s, padding 1s, height 0.5s;
}

.word {
  color: #FFF;
  letter-spacing: normal;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5vw;
  font-weight: 700;
}

.icon {
  width: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: 0 auto;
  height: 0;
  margin-top: 100px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#img1{
    animation: spin infinite 2s linear;
}

@keyframes spin {
  0%: { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}
