body{
  min-height: 100vh;
}

.App {
  text-align: center;
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
}

.name {
  position: absolute;
  font-size: 10vh;
  width: 100%;
  color: black;
}

@keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 19px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 9px, 0);
  }
  10% {
    clip: rect(4px, 9999px, 66px, 0);
  }
  15% {
    clip: rect(97px, 9999px, 82px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(44px, 9999px, 99px, 0);
  }
  30% {
    clip: rect(29px, 9999px, 1px, 0);
  }
  35% {
    clip: rect(4px, 9999px, 51px, 0);
  }
  40% {
    clip: rect(65px, 9999px, 97px, 0);
  }
  45% {
    clip: rect(1px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(100px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(82px, 9999px, 72px, 0);
  }
  65% {
    clip: rect(95px, 9999px, 34px, 0);
  }
  70% {
    clip: rect(51px, 9999px, 78px, 0);
  }
  75% {
    clip: rect(71px, 9999px, 89px, 0);
  }
  80% {
    clip: rect(19px, 9999px, 62px, 0);
  }
  85% {
    clip: rect(47px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(35px, 9999px, 18px, 0);
  }
  95% {
    clip: rect(63px, 9999px, 73px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 47px, 0);
  }
}
.name:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  right: 0;
  text-shadow: -1px 0 red;
  color: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(1px, 9999px, 42px, 0);
  }
  5% {
    clip: rect(89px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(64px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(12px, 9999px, 12px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 87px, 0);
  }
  25% {
    clip: rect(58px, 9999px, 32px, 0);
  }
  30% {
    clip: rect(76px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(61px, 9999px, 61px, 0);
  }
  40% {
    clip: rect(71px, 9999px, 9px, 0);
  }
  45% {
    clip: rect(87px, 9999px, 45px, 0);
  }
  50% {
    clip: rect(56px, 9999px, 71px, 0);
  }
  55% {
    clip: rect(63px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(92px, 9999px, 87px, 0);
  }
  65% {
    clip: rect(4px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(55px, 9999px, 20px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(97px, 9999px, 62px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 90px, 0);
  }
  90% {
    clip: rect(95px, 9999px, 24px, 0);
  }
  95% {
    clip: rect(88px, 9999px, 19px, 0);
  }
  100% {
    clip: rect(35px, 9999px, 75px, 0);
  }
}
.name:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  right: 0;
  text-shadow: 1px 0 blue;
  color: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
